@model System.Data.DataTable
@{
    ViewBag.Title = "بيانات المخازن";
}
@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 2)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 3)
{
    Layout = "~/Views/Shared/_LayPurMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 4)
{
    Layout = "~/Views/Shared/_LayPurAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 5)
{
    Layout = "~/Views/Shared/_LaySaMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 6)
{
    Layout = "~/Views/Shared/_LaySaAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 7)
{
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
}
}
<h2>بيانات المخازن</h2>
<a href="@Url.Action("SaveStock", "Store")">تعريف مخزن</a>
<table class="table table-bordered table-striped">
    <tr>
        <th>كود المخزن</th>
        <th>إسم المخزن</th>
        <th>العنوان</th>
        <th>أمين المخزن</th>
        <th>المساحه</th>
        <th>رقم التليفون</th>
    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
        </tr>
    }
</table>


