@model System.Data.DataTable
@{
    ViewBag.Title = "بيانات المستخدمين";
}
@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 2)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 3)
{
    Layout = "~/Views/Shared/_LayPurMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 4)
{
    Layout = "~/Views/Shared/_LayPurAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 5)
{
    Layout = "~/Views/Shared/_LaySaMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 6)
{
    Layout = "~/Views/Shared/_LaySaAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 7)
{
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
}
}
<h2>بيانات المستخدمين</h2>
<a href="@Url.Action("AddUser", "User")">إضافة مستخدم</a>
@using (Html.BeginForm("UsersData", "Reports", FormMethod.Post))
    {
    <span>User Name:</span> @Html.TextBox("CustomerName")
    <input type="submit" value="Search" />
    <br />
    <br />
<table class="table table-bordered table-striped">
    <tr>
        <th>كود المستخدم</th>
        <th>الإسم الأول</th>
        <th>الإسم الأوسط</th>
        <th>إسم العائله</th>
        <th>البريد الإلكتروني</th>
        <th>الصلاحيه</th>
        <th>الفرع</th>
        <th>القطاع</th>
    </tr>

@for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Model.Rows[i][7]</td>
        </tr>
    }
</table>
}

