@model System.Data.DataTable
@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Display Units";
}
if (Convert.ToInt32(Session["Role"]) == 2)
{
    ViewBag.Title = "Display Units";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

}
}
<script src="~/Scripts/sweetalert.min.js"></script>
@if (TempData["Al"] != null)
{
    <script>
        swal("تم الحذف!", "تم حذف الحركة بنجاح.", "success");
    </script>
    // <strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"]
}
@if (TempData["As"] != null)
{
    <script>
        swal("الحمد لله تم التعديل بنجاح", " ", "success");
    </script>
    // <strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"]
}
@if (TempData["A"] != null)
{
    <script>
        swal("عزيزي المستخدم"," هناك خطأ بسيط يرجي مراجعة الداتا أو الصلاحية", "error");
    </script>
    //<strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"]
}
<h2>Display Units</h2>
<a href="@Url.Action("SaveUnit","Unit")">Add Unit</a>
<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>ArabicName</th>
        <th>EnglishName</th>
        <th>DescName</th>
        <th>Description</th>
        <th></th>

    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>
                <a href="@Url.Action("EditUnit", "Unit", new { @id = @Model.Rows[i][0] })">تعديل</a> --
                <a href="@Url.Action("DeleteUnit", "Unit", new {@id=@Model.Rows[i][0] })">حذف</a>
            </td>
        </tr>
    }
</table>


