@model AKSoft.Models.UserInfo
@{
    Layout = null;

}
@*@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 2)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 3)
{
    Layout = "~/Views/Shared/_LayPurMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 4)
{
    Layout = "~/Views/Shared/_LayPurAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 5)
{
    Layout = "~/Views/Shared/_LaySaMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 6)
{
    Layout = "~/Views/Shared/_LaySaAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 7)
{
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
}
}*@
<script src="~/Scripts/sweetalert.min.js"></script>
@if (TempData["Al"] == null)
{
    <script>
        swal("تم الحفظ بنجاح", " ", "success");
    </script>
    // <strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"] //Display Word (Successful Done) + name
}
@if (TempData["Ag"] != null)
{
    <script>
        swal("الحمد لله تم التعديل بنجاح", " ", "success");
    </script>
    //  <strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"]
}
@if (TempData["Ag"] == null)
{
    <script>
        swal("الحمد لله تم التعديل بنجاح", " ", "success");
    </script>
    // <strong style="color:green">Savedg successfully! </strong>@TempData["Al"]
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>إضافة مستخدم</title>
    <link rel="stylesheet" href="~/Content/st.css" />
    <script src="~/Scripts/sweetalert.min.js"></script>@*Library for sweety message*@
    <script type="text/javascript" src="~/Scripts/main.js"> </script>

    <style>
        body {
            margin: 0;
            color: #6a6f8c;
            background: #c8c8c8;
            font: 600 16px/18px 'Open Sans',sans-serif;
        }

        *, :after, :before {
            box-sizing: border-box;
        }

        .clearfix:after, .clearfix:before {
            content: '';
            display: table;
        }

        .clearfix:after {
            clear: both;
            display: block;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        .login-wrap {
            width: 100%;
            margin: auto;
            max-width: 525px;
            min-height: 670px;
            position: relative;
            background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
            box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
        }

        .login-html {
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 90px 70px 50px 70px;
            background: rgba(40,57,101,.9);
        }

            .login-html .sign-in-htm,
            .login-html .sign-up-htm {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                transform: rotateY(180deg);
                backface-visibility: hidden;
                transition: all .4s linear;
            }

            .login-html .sign-in,
            .login-html .sign-up,
            .login-form .group .check {
                display: none;
            }

            .login-html .tab,
            .login-form .group .label,
            .login-form .group .button {
                text-transform: uppercase;
            }

            .login-html .tab {
                font-size: 22px;
                margin-right: 15px;
                padding-bottom: 5px;
                margin: 0 15px 10px 0;
                display: inline-block;
                border-bottom: 2px solid transparent;
            }

            .login-html .sign-in:checked + .tab,
            .login-html .sign-up:checked + .tab {
                color: #fff;
                border-color: #1161ee;
            }

        .login-form {
            min-height: 345px;
            position: relative;
            perspective: 1000px;
            transform-style: preserve-3d;
        }

            .login-form .group {
                margin-bottom: 15px;
            }

                .login-form .group .label,
                .login-form .group .input,
                .login-form .group .button {
                    width: 100%;
                    color: #fff;
                    display: block;
                }

                .login-form .group .input,
                .login-form .group .button {
                    border: none;
                    padding: 15px 20px;
                    border-radius: 25px;
                    background: rgba(255,255,255,.1);
                }

                .login-form .group input[data-type="password"] {
                    text-security: circle;
                    -webkit-text-security: circle;
                }

                .login-form .group .label {
                    color: #aaa;
                    font-size: 12px;
                }

                .login-form .group .button {
                    background: #1161ee;
                }

                .login-form .group label .icon {
                    width: 15px;
                    height: 15px;
                    border-radius: 2px;
                    position: relative;
                    display: inline-block;
                    background: rgba(255,255,255,.1);
                }

                    .login-form .group label .icon:before,
                    .login-form .group label .icon:after {
                        content: '';
                        width: 10px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        transition: all .2s ease-in-out 0s;
                    }

                    .login-form .group label .icon:before {
                        left: 3px;
                        width: 5px;
                        bottom: 6px;
                        transform: scale(0) rotate(0);
                    }

                    .login-form .group label .icon:after {
                        top: 6px;
                        right: 0;
                        transform: scale(0) rotate(0);
                    }

                .login-form .group .check:checked + label {
                    color: #fff;
                }

                    .login-form .group .check:checked + label .icon {
                        background: #1161ee;
                    }

                        .login-form .group .check:checked + label .icon:before {
                            transform: scale(1) rotate(45deg);
                        }

                        .login-form .group .check:checked + label .icon:after {
                            transform: scale(1) rotate(-45deg);
                        }

        .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
            transform: rotate(0);
        }

        .login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
            transform: rotate(0);
        }

        .hr {
            height: 2px;
            margin: 60px 0 50px 0;
            background: rgba(255,255,255,.2);
        }

        .foot-lnk {
            text-align: center;
        }
    </style>
</head>
<body class="b">
    <script src="~/Scripts/sweetalert.min.js"></script>
    @if (TempData["Al"] != null)
    {
        <script>
            swal("تم إضافة مستخدم جديد", " ", "success");
        </script>
        // <strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"] //Display Word (Successful Done) + name
    }
    <a href="@Url.Action("Home","MainPages")">
        <input type="submit" class="save" value="Home">
    </a>

    @using (Html.BeginForm("AddUser", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken() // this is for prevent CSRF attack
        if (@ViewBag.Message != null)
        {
            <div id="popupdiv" style="border: 1px solid red; display: none;">
                @ViewBag.Message
            </div>
        }

        <hr />
        <div class="login-wrap">
            <div class="login-html" style="padding-top:17px ;height:120%;position:relative;border-radius: 15px;">
                <div class="login-form">
                    <div class="group">
                        <label for="user" class="label">الإسم الأول</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                    <div class="group">
                        <label for="pass" class="label">الإسم الأوسط</label>
                        @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "input", @required = "required" } })
                    </div>
                    <div class="group">
                        <label for="user" class="label">إسم العائلة</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input", @required = "required" } })
                    </div>
                    <div class="group">
                        <label for="user" class="label">البريد الإلكتروني</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input", @required = "required" } })
                    </div>
                    <div class="group">
                        <label class="label">الفرع</label>
                        @Html.DropDownListFor(model => model.BranchSerial, ViewBag.DepartmentList7 as SelectList, "--select--", new { @class = "input", @style = "color:black;font-size: 15px;background-color: #a7fbee;", @required = "required" }) @*Required DropDownList *@
                    </div>
                    <div class="group">
                        <label class="label">القطاع</label>
                        @Html.DropDownListFor(model => model.SectorSerial, ViewBag.DepartmentList8 as SelectList, "--select--", new { @class = "input", @style = "color:black;font-size: 15px;background-color: #a7fbee;", @required = "required" }) @*Required DropDownList *@
                    </div>
                    <div class="group">
                        <label class="label">الصلاحية</label>
                        @Html.DropDownListFor(model => model.Role, ViewBag.DepartmentList9 as SelectList, "--select--", new { @class = "input", @style = "color:black;font-size: 15px;background-color: #a7fbee;", @required = "required" }) @*Required DropDownList *@
                    </div>
                    <div class="group">
                        <label for="pass" class="label">كلمة المرور</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input", id = "password", @type = "password", @required = "required" } })
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="group">
                        <label for="pass" class="label">إعادة كتابة كلمة المرور</label>
                        @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "input", @type = "password", @id = "confirm_password", @required = "required" } })
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <span id='message'></span>
                    </div>
                    @*<div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>*@
                    <div class="group">
                        <a href="@Url.Action("AddUser","User")">
                            <input type="submit" class="button" value="إضافة المستخدم">

                        </a>
                    </div>

                </div>
            </div>
        </div>


    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        $('#password, #confirm_password').on('keyup', function () {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        });
    </script>
</body>
</html>

