@model System.Data.DataTable
@{
  ViewBag.Title = "DisplayCustomers";
 }
@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 2)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 3)
{
    Layout = "~/Views/Shared/_LayPurMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 4)
{
    Layout = "~/Views/Shared/_LayPurAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 5)
{
    Layout = "~/Views/Shared/_LaySaMa.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 6)
{
    Layout = "~/Views/Shared/_LaySaAcc.cshtml";
}
if (Convert.ToInt32(Session["Role"]) == 7)
{
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
}
}
<script src="~/Scripts/sweetalert.min.js"></script>
@if (TempData["Al"] != null)
{
    <script>
        swal("تم الحذف!", "تم حذف الحركة بنجاح.", "success");
    </script>
    // <strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"]
}
<script src="~/Scripts/sweetalert.min.js"></script>
@if (TempData["Al"] != null)
{
    <script>
        swal("تم الحذف!", "تم حذف الحركة بنجاح.", "success");
    </script>
    // <strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"]
}
@if (TempData["As"] != null)
{
    <script>
        swal("الحمد لله تم التعديل بنجاح", " ", "success");
    </script>
    // <strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"]
}
@if (TempData["A"] != null)
{
    <script>
        swal("عزيزي المستخدم"," هناك خطأ بسيط يرجي مراجعة الداتا أو الصلاحية", "error");
    </script>
    //<strong style="color:green">تم الحفظ بفضل الله </strong>@TempData["Al"]
}
<h2>بيانات العملاء</h2>
<a href="@Url.Action("SaveCustomer", "Customer")">تعريف عميل</a>
<table class="table table-bordered table-striped">
    <tr>
        <th style="display:none">السريال</th>
        <th>كود العميل</th>
        <th>الإسم عربي</th>
        <th>الإسم انجليزي</th>
        <th>العنوان</th>
        <th>تليفون1</th>
        <th>تليفون2</th>
        <th>الدوله</th>
        <th>المدينه</th>
        <th>البريد الإلكتروني</th>
    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td style="display:none">@Model.Rows[i][0]</td>
            <td><a href="@Url.Action("EditCustomer", "Customer", new { @id = @Model.Rows[i][0] })">@Model.Rows[i][1]</a>
</td>
            <td><a class="LinkItem" href="@Url.Action("EditCustomer", "Customer", new { @id = @Model.Rows[i][0] })">@Model.Rows[i][2]</a>
</td>            
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Model.Rows[i][7]</td>
            <td>@Model.Rows[i][8]</td>
            <td>@Model.Rows[i][9]</td>
            <td>
                <a href="@Url.Action("EditCustomer", "Customer", new { @id = @Model.Rows[i][0] })">تعديل</a> --
                <a href="@Url.Action("DeleteCustomer", "Customer", new { @id = @Model.Rows[i][0] })">حذف</a>
            </td>
        </tr>
    }
</table>

